body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

#header {
    display: flex;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
}

#header #logo {
    height: 50px;
    margin-right: 20px;
}

#header #titulo {
    font-size: 1.5rem;
}

#graficasBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#Fila1_GraficasBox,
#Fila2_GraficasBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#Fila2_GraficasBox {
    justify-content: space-around;
}

#GraficaBox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1;
    margin: 10px;
}



@media (max-width: 768px) {
    #Fila1_GraficasBox,
    #Fila2_GraficasBox {
        flex-direction: column;
    }

    #GraficaBox {
        margin: 10px 0;
    }
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#loadingLineContainer {
    width: 20%;
    height: 4px;
    background: #ddd;
    overflow: hidden;
    position: relative;
}

#loadingLine {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #00f, transparent);
    position: absolute;
    animation: loading 1s infinite;
}

@keyframes loading {
    from { left: -100%; }
    to { left: 100%; }
}

#loadingScreen.hidden {
    opacity: 0;
    pointer-events: none;
}